/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

:root {
  --page-header-bgColor: #2D323A;
  --page-header-bgColor-hover: #1d2636;
  --page-header-txtColor: #dde9f8;
  --page-header-headingColor: #7889a4;
  --page-header-width: 220px;
  --page-content-bgColor: #f0f1f6;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --white: #fff;
  --black: #333;
  --blue: #00b9eb;
  --red: #ec1848;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
}

button,
input {
  border: none;
}

svg {
  display: block;
}

body {
  font: 16px/1.5 "Lato", sans-serif;
}


/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 20px;
  width: var(--page-header-width);
  color: var(--page-header-txtColor);
  background: var(--page-header-bgColor);
}

/*In case you prefer an absolutely positioned header that covers the full page height, add these styles*/
/*body {
  position: relative;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}*/

/*remove these styles*/
/*.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}*/

.page-header nav {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header .logo {
  display: block;
  max-width: 120px;
  margin: 0 15px;
}

.page-header .toggle-mob-menu {
  display: none;
  margin-left: 5px;
  padding: 4px;
  background: var(--page-content-blockColor);
  border-radius: var(--border-radius);
}

.page-header .toggle-mob-menu svg {
  fill: var(--black);
  transition: transform 0.2s;
}

.page-header .admin-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 35px;
}

.page-header .admin-menu li:nth-last-child(2) {
  margin-bottom: 35px;
}

.page-header .admin-menu li:last-child {
  margin-top: auto;
  margin-bottom: 20px;
}

.page-header .admin-menu li > * {
  width: 100%;
  padding: 12px 15px;
}

.page-header .admin-menu .menu-heading h3 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  margin-top: 12px;
  color: var(--page-header-headingColor);
}

.page-header .admin-menu svg {
  width: 20px;
  height: 20px;
  fill: var(--page-header-txtColor);
  margin-right: 10px;
  transition: fill 0.2s;
}

.page-header .admin-menu a,
.page-header .admin-menu button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  transition: background 0.2s, color 0.2s;
}

.page-header .admin-menu a:hover,
.page-header .admin-menu a:focus,
.page-header .admin-menu button:hover,
.page-header .admin-menu button:focus {
  background: var(--page-header-bgColor-hover);
  color: var(--blue);
  outline: none;
}

.page-header .admin-menu a:hover svg,
.page-header .admin-menu a:focus svg,
.page-header .admin-menu button:hover svg,
.page-header .admin-menu button:focus svg {
  fill: var(--blue);
}


/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
  position: relative;
  left: var(--page-header-width);
  width: calc(100% - var(--page-header-width));
  min-height: 100vh;
  padding: 30px;
  color: var(--page-content-txtColor);
  background: var(--page-content-bgColor);
}

.search-and-user {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: var(--page-content-bgColor);
  margin-bottom: 30px;
  justify-items: right;
}

.search-and-user form {
  position: relative;
  width: 100%;
}

.search-and-user input[type="text"] {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding-left: 15px;
  background: var(--page-content-blockColor);
  color: black;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.search-and-user ::placeholder {
  color: var(--page-content-txtColor);
}

.search-and-user form svg {
  width: 26px;
  height: 26px;
  fill: var(--page-content-txtColor);
}

.search-and-user form button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.search-and-user .admin-profile {
  display: flex;
  align-items: center;
}

.search-and-user .admin-profile .greeting {
  margin: 0 10px 0 20px;
}

.search-and-user .admin-profile svg {
  width: 30px;
  height: 30px;
}

.search-and-user .admin-profile .notifications {
  position: relative;
}

.search-and-user .admin-profile .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 10px;
  color: var(--white);
  background: var(--red);
}

.page-content .grid {
  display: grid;
  grid-gap: 30px;
}

.page-content .grid > article {
  display: flex;
  background: var(--page-content-blockColor);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.page-content .grid > article:first-child,
.page-content .grid > article:last-child {
  grid-column: 1 / -1;
}

.inventories{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

.inventories-text {
  margin-bottom: 10px;
}

.inventory-entry{
  background-color: white;
  font-size: 30px;
  width: 100%;
  text-align: left;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.061);
  border-width: 3px 0px 0px 0px;
}

.inventory-entry:hover{
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.inventory-button{
  text-align: center;
}

#inventoryList {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

#inventoryList td, #inventoryList th {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-left: 8px;
  font-size: 28px;
  font-weight: normal;
}

#inventoryList tr:nth-child(even){background-color: #f2f2f2;}


#inventoryList tr:hover {background-color: #ddd;}

#inventoryList th {
  text-align: left;
  font-weight: bold;
  color: var(--page-header-bgColor);
}

#sharedList {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

#sharedList td, #sharedList th {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-left: 8px;
  font-size: 28px;
  font-weight: normal;
}

#sharedList tr:nth-child(even){background-color: #f2f2f2;}


#sharedList tr:hover {background-color: #ddd;}

#sharedList th {
  text-align: left;
  font-weight: bold;
  color: var(--page-header-bgColor);
}

#recipesList {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

#recipesList td, #recipesList th {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-left: 8px;
  font-size: 20px;
  font-weight: normal;
  padding-top: 6px;
}

#recipesList img {
  border-radius: 10%;
}

#recipesList tr:hover {background-color: #ddd;}

#recipesList thead {
  width: 100%;
}

#recipesList th {
  text-align: left;
  font-weight: bold;
  color: var(--page-header-bgColor);
}

#recipesList td#image {
  width: 1vh;
}

#recipesList #fav-button {
  font-size: 30px;
  cursor: pointer;
}

#recipesList td#title {
  font-weight: bold;
  width: 70%;
}

#recipeInfo {
  text-align: center;
  padding: 10px;
  justify-content: center;
}

#recipeImage {
  border-radius: 30px;
  width: 50%;
  padding: 10px;
}

#recipeIngredients {
  padding-top: 10px;
  margin: auto;
  width: 60%;
  font-size: 20px;
  font-weight: normal;
}

#recipeSummary {
  width: 60%;
  font-weight: normal;
  font-size: 20px;
  margin: auto;
}

.table-edit{
  text-align: right;
  font-size: 30px;
  width: 1%;
}

.table-edit span{
  cursor: pointer;
}

.create-button{
  margin: 10px;
  margin-top: 20px;
  width: 189px;
  height: 46px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 35px;
  outline: none;
  border: none;
  background-color: #c72c41;
  color: white;
}

.create-button:hover {
  background-color: #d43f53;
}

.info-text{
  margin-top: 18px;
  font-size: 25px;
  color: rgb(79, 78, 87);
}

.info-field{
  font-size: 18px;
  color: rgb(111, 109, 121);
  display: flex;
}

.edit-button{
  cursor: pointer;
}


/* Notifications */

.notifications {
  cursor: pointer;
}

.notificationMenu {
  position: absolute;
  right: 35px;
  top: 70px;
  width: 30%;
  height: 40%;
  overflow-y: auto;
  background-color: var(--page-header-bgColor);
  color: white;
  box-shadow: 0px 0px 10px #5a5a5a;
  z-index: 1;
}

.notificationMenuHidden {
  display: none;
  transition-delay: 0.35s;
}

.notificationMenu #title {
  font-weight: bold;
  padding: 10px;
  font-size: 25px;
}

.notificationMenu ul{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
}

.notificationMenu li{
  margin: 5px;
  padding: 7px;
  background-color: #363c46;
}

.notificationMenu li:hover{
  background-color: #454c58;
}

.notificationMenu #topic-inventory {
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  color: var(--red);
}

.notificationMenu #topic-friends {
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(36, 173, 82);
}

.notificationMenu #desc {
  padding: 5px;
  font-weight: normal;
  font-size: 15px;
}

/* MQ RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 767px) {
  .page-header,
  .page-content {
    position: static;
    width: 100%;
  }
   
  .page-header {
    padding: 10px;
  }

  .page-header nav {
    flex-direction: row;
  }

  .page-header .logo {
    margin: 0;
    height: 35px;
  }

  .page-header .toggle-mob-menu {
    display: block;
  }

  .page-header .admin-menu {
    position: absolute;
    left: 98px;
    top: 57px;
    margin-top: 0;
    z-index: 2;
    border-radius: var(--border-radius);
    background: var(--page-header-bgColor);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.2s;
  }

  .page-header .admin-menu li:nth-last-child(2) {
    margin-bottom: 12px;
  }
  
  .page-header .admin-menu li:last-child,
  .search-and-user .admin-profile .greeting {
    display: none;
  }
  
  .page-content {
    min-height: 0;
    padding: 10px;
  }

  .page-content .grid {
    grid-gap: 10px;
  }

  .search-and-user {
    position: absolute;
    left: 131px;
    top: 10px;
    padding: 0;
    grid-column-gap: 5px;
    width: calc(100% - 141px);
    border-radius: var(--border-radius);
    background: transparent;
  }

  .search-and-user input[type="search"] {
    font-size: 1rem;
    height: 35px;
  }

  .search-and-user form svg {
    width: 18px;
    height: 18px;
  }

  .search-and-user .admin-profile svg {
    fill: var(--white);
  }
}

@media screen and (max-width: 400px) {
  .page-content .grid > article {
    grid-column: 1 / -1;
  }
}


/* BODY CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mob-menu-opened .toggle-mob-menu svg {
  transform: rotate(180deg);
}

.mob-menu-opened .page-header .admin-menu {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsed .page-header {
    width: 40px;
  }

  .collapsed .page-header .admin-menu li > * {
    padding: 10px;
  }

  .collapsed .page-header .logo,
  .collapsed .page-header .admin-menu span,
  .collapsed .page-header .admin-menu .menu-heading {
    display: none;
  }

  .collapsed .page-header .admin-menu svg {
    margin-right: 0;
  }

  .collapsed .page-header .collapse-btn svg {
    transform: rotate(180deg);
  }

  .collapsed .page-content {
    left: 40px;
    width: calc(100% - 40px);
  }
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  font-size: 0.85rem;
  text-align: right;
  margin-top: 10px;
}

.page-footer span {
  color: var(--red);
}
